
.header {
	background-color: #4d4d4d;
	text-align: center;
	padding: 15px;
}

.header #logo{
	color: #fff;
	text-decoration: none;
	font-size: 35px;
	font-family: serif;

}
.header .menu{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 10px 0 0 0;
}
.header .menu li{
	padding: 5px;

}
.header .menu a  {
	color: #a8a8a8;
	text-decoration: none;
}
.header .menu a:hover {
	text-decoration: underline;
	color: #fff;

}

.container{
	max-width: 1000px;
	min-height: calc(100vh - 260px);
	margin: auto;
	background-color: #fff;
	padding: 20px;


}
.footer{
	background-color: #363636;
	color: #fff;
	text-align: center;
	padding: 5px;
}
.footer span{
	color: red;
}
body{
 	font-family: sans-serif;
 	color: #4d4d4d;
 	background-color: #ececec;
 	margin: 0;
 	
 }
 h1,h2,h3{
 	margin: 0;
 	font-family: 
 	font-weight: 700;

 }



